h1 {
  font-size: 3em;
  text-align: center;
  margin-left: 20px;
}

h2 {
  margin-top: 15px;
}

p {
  text-align: center;
}

.header {
  background-color: navy;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.content {
  background-color: powderblue;

}

.project-block {
  height: 450px;
}

.portfolio-block {
  width: 250px;
}
